:root {
  --borderColor: chocolate;
  --white-square-color: #BBBBBB;
  --black-square-color: black;
  --white-piece-color: white;
  --black-piece-color: black;
}
.App {
  background-color: gray;
  text-align: center;
}
.App header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.optionsDiv {
  margin-left: 1vw;
  margin-top: 1vh;
  background-color: var(--black-square-color);
  color: var(--white-square-color);
  width: fit-content;
  padding: 2px 3px;
  text-align: left;
}
.optionsRadio {
  line-height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
}
.optionsRadio label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  /* 16px of the radio circle and 6px between it and text*/
  padding-left: 22px;
}
.optionsRadio label::before,
.optionsRadio label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
/* The circle */
.optionsRadio label::before {
  height: 16px;
  width: 16px;
  border: 2px solid var(--white-square-color);
  border-radius: 50%;
  background-color: var(--black-square-color);
  left: 0px;
  top: 3px;
}
/* The circle filler (<div className="optionsRadio On"> ... use <span> instead of <div> to make them side by side) */
.optionsRadio.On label::before {
  background-color: var(--white-square-color);
}
/* The label text */
.optionsRadio label {
  font-size: 24px;
  margin-bottom: 1vw;
}

.edgeCorner {
  width: 25px;
  height: 25px;
  background-color: var(--borderColor);
}
.edgeColumnHeader {
  font-size: 12px;
  font-weight: bold;
  background-color: var(--borderColor);
}
.edgeRowHeader {
  font-size: 12px;
  font-weight: bold;
  background-color: var(--borderColor);
}
.board {
  border-spacing: 0;
}
/* [square-color='white'] {
  background-color: var(--white-square-color);
} */
[piece=''][square-color='white'] {
  background-image: url('../public/WhiteNoPiece.jpg');
  background-position: center;
  background-size: cover;
}
/* [square-color='black'] {
  background-color: var(--black-square-color);
} */
[piece=''][square-color='black'] {
  background-image: url('../public/BlackNoPiece.jpg');
  background-position: center;
}
.board tr td {
  text-align: center;
  vertical-align: middle;
}
.square {
  height: 10vh;
  width: 10vh;
  font-size: 7vh;
}
[square-selected='Y'] {
  opacity: 50%;
  /* background-color: chocolate; */
}
.piece {
  font-size: 9vh;
}
.piece tbody tr td {
  height: 10vh;
  width: 10vh;
}
/* [piece='white-rook']::before {
  content: '\2656';
  color: var(--white-piece-color);
} */
[piece='white-rook'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhiteRook.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-rook'][square-color='black'] {
  background-image: url('../public/BlackSquareWhiteRook.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-rook']::before {
  content: '\265C';
  color: var(--black-piece-color);
} */
[piece='black-rook'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackRook.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-rook'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackRook.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='white-knight']::before {
  content: '\2658';
  color: var(--white-piece-color);
} */
[piece='white-knight'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhiteKnight.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-knight'][square-color='black'] {
  background-image: url('../public/BlackSquareWhiteKnight.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-knight']::before {
  content: '\265E';
  color: var(--black-piece-color);
} */
[piece='black-knight'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackKnight.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-knight'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackKnight.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='white-bishop']::before {
  content: '\2657';
  color: var(--white-piece-color);
} */
[piece='white-bishop'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhiteBishop.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-bishop'][square-color='black'] {
  background-image: url('../public/BlackSquareWhiteBishop.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-bishop']::before {
  content: '\265D';
  color: var(--black-piece-color);
} */
[piece='black-bishop'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackBishop.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-bishop'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackBishop.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='white-queen']::before {
  content: '\2655';
  color: var(--white-piece-color);
} */
[piece='white-queen'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhiteQueen.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-queen'][square-color='black'] {
  background-image: url('../public/BlackSquareWhiteQueen.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-queen']::before {
  content: '\265B';
  color: var(--black-piece-color);
} */
[piece='black-queen'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackQueen.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-queen'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackQueen.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='white-king']::before {
  content: '\2654';
  color: var(--white-piece-color);
} */
[piece='white-king'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhiteKing.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-king'][square-color='black'] {
  background-image: url('../public/BlackSquareWhiteKing.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-king']::before {
  content: '\265A';
  color: var(--black-piece-color);
} */
[piece='black-king'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackKing.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-king'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackKing.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='white-pawn']::before {
  content: '\2659';
  color: var(--white-piece-color);
} */
[piece='white-pawn'][square-color='white'] {
  background-image: url('../public/WhiteSquareWhitePawn.jpg');
  background-position: center;
  background-size: cover;
}
[piece='white-pawn'][square-color='black'] {
  background-image: url('../public/BlackSquareWhitePawn.jpg');
  background-position: center;
  background-size: cover;
}
/* [piece='black-pawn']::before {
  content: '\265F';
  color: var(--black-piece-color);
} */
[piece='black-pawn'][square-color='white'] {
  background-image: url('../public/WhiteSquareBlackPawn.jpg');
  background-position: center;
  background-size: cover;
}
[piece='black-pawn'][square-color='black'] {
  background-image: url('../public/BlackSquareBlackPawn.jpg');
  background-position: center;
  background-size: cover;
}
button {
  margin-left: 5px;
  border: 2px solid var(--borderColor);
  border-radius: 15px;
  font-size: larger;
}
.promote {
  height: 10vh;
  width: 10vh;
  font-size: 9vh;
}