.App {
  background-color: gray;
}
.App header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Board {
  border: 25px solid chocolate;
  margin: 20px;
  border-spacing: 0;
}
[square-color='white'] {
  background-color: white;
}
[square-color='black'] {
  background-color: black;
}
.Board tr td {
  height: 10vh;
  width: 10vh;
  color: pink;
  text-align: center;
  vertical-align: middle;
}
.piece {
  font-size: 9vh;
}
[piece='white-rook']::before {
  content: '\2656';
}
[piece='black-rook']::before {
  content: '\265C';
}
[piece='white-knight']::before {
  content: '\2658';
}
[piece='black-knight']::before {
  content: '\265E';
}
[piece='white-bishop']::before {
  content: '\2657';
}
[piece='black-bishop']::before {
  content: '\265D';
}
[piece='white-queen']::before {
  content: '\2655';
}
[piece='black-queen']::before {
  content: '\265B';
}
[piece='white-king']::before {
  content: '\2654';
}
[piece='black-king']::before {
  content: '\265A';
}
[piece='white-pawn']::before {
  content: '\2659';
}
[piece='black-pawn']::before {
  content: '\265F';
}
